<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ucne_guia_desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ucne_guia_desktop.Properties.Settings>
            <setting name="userId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="Matricula" serializeAs="String">
                <value />
            </setting>
            <setting name="userEmail" serializeAs="String">
                <value />
            </setting>
        </ucne_guia_desktop.Properties.Settings>
    </userSettings>
</configuration>